.btn-copy-ex {
  margin-left: -50px;
  /*position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  border: 0;
  padding: 0 0 0 1px;*/
}

/*.copy-container {
  overflow: visible;
  position: relative;
}

.copy-icon {
  display: inline-block;
  vertical-align: top;
}*/
